
body{
	background-color: #1FCF77;
}

.page-wrapper{
	width: 960px;
	margin: 15px auto;
	border: 15px solid #D57CA0;
	background-color: #BBF1D5;
}


h1{
	font-family:'Miltonian Tattoo', cursive;
	text-align: center;
	font-size: 200%;

}
h2, h3 {
	font-family: 'Miltonian Tattoo', cursive;
	text-align: center;
	color:#7B0B39;
	font-size: 160%;
	text-decoration: underline;
}

.summary,
.preamble,
.explanation, 
.participation,
.benefits,
.requirements,
footer,
ul{	
	color: #581845;
	font-size: 120%;
}

p{
	font-family: 'Indie Flower', cursive;
}

a{
	color:#D57CA0;
}

